/* General Styles */
#Breakfast-Recipes,#Lunch-Recipes, #Dinner-Recipes,#Desserts-Recipes{
    padding: 20px;
   background-color: #ebebeb;
   
    border-radius: 10px;
    margin: 20px 0;
}

h3 {
   
   text-align:center;
    font-family: Arial, sans-serif;
    color: #ff6347;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2.2em;
}

/* Recipe Container */
.recipe-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 1200px;

    padding: 10px;
    margin: auto;
}

/* Recipe Wrapper */
.recipe-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 10px; 
    padding: 10px;
    scrollbar-width: none; 
    
}  

.recipe-wrapper::-webkit-scrollbar {
    display: none; 
}

 
.recipe-cards {
    display: flex; 
    gap: 20px; 
    
}

.recipe-card {
    flex: 0 0 300px;  
    width: 200px;
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    height: 300px;
    
}



.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    
    
}

.recipe-card h4 ,a  {
    margin: auto 0;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #555;
    text-decoration: none;
    /*line-height: 1;*/
    margin-top: 5px;
  
}


/*text glow*/
.recipe-card p {
   
    text-align:center;
   color: #555;
    font-weight: bold;
   
   
    
}

/* Scroll Buttons */
.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.left-btn {
    left: 0;
}

.right-btn {
    right: 0;
}

@media (max-width: 768px) {
    .recipe-cards {
        gap: 10px;
    }
    .recipe-card {
        flex: 0 0 160px; /* Smaller card size on small screens */
        height: 250px;
    }
    .recipe-card h4{
        font-size: 12px;
    }
   .recipe-card p{
    font-size: 12px;
   }
   .recipe-card img{
    height: 150px;
   }
}
